/* Colors */
:root {
--ink: #06080F;
--red: #E80000;
--orange: #E88B00;
--yellow: #E8DD00;
--green: #00DD74;
--blue: #0074E8;
--violet: #7400E8;
}

body, main, nav, footer, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  display: block;
  background-color: white;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 1.5;
}

figure p {
  margin: 0;
  padding-left: 70px;
  max-width: 100%;
  text-align: left;
  font-size: 70px;
  font-family: Playfair Display, serif;
}

article p {
  margin-left: 16px;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  margin: 0px;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
}

figcaption{
  font-family: Playfair Display, serif;
  text-align: left;
  padding-left: 10px;
}

p, li{
  font-size: 17px;
  font-family: "EB Garamond", serif;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

article {
  flex: 1 0 300px;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

footer {
  color: var(--ink);
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

hr {
  height: 1px;
  background-color: var(--ink);
  border: none;
  width: 90%;
}

.italic {
  
}

.topnav{
  font-family: Playfair Display, serif;
}

.topnav a{
  color: var(--ink);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  height: 45px;
}

.topnav a:hover {
  color: var(--red);
}

.topnav a.active {
  border-radius: 25px;
}

/* unvisited link */
.link:link {
  color: var(--red);
  text-decoration: none;
}

/* visited link */
.link:visited {
  color: var(--ink);
  text-decoration: none;
}

/* mouse over link */
.link:hover {
  color: var(--ink);
  text-decoration: none;
}

/* selected link */
.link:active {
  color: var(--ink);
  text-decoration: none;
}

.img_main {
  max-width: 80%;
}

#div1 {
  display: block;
  float: left;
}

#div2 {
  margin-top: 40px;
  display: block;
  text-align: left;
  float: left;
}